.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
}

ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    list-style-type: none;
    margin: .5rem;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
}

ul li:last-child{
   border: none; 
}

ul li img{
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    object-fit: cover;
}

ul li div{
    padding: 1rem;
}

ul li div:not(:first-child){
    flex-basis: 18%;
}

ul li select{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.1rem;
    font-weight: 100;
}

ul .remove-button{
    border-radius: 1rem;
    border: none;
    padding: .5rem;
    color: #e72929;
    opacity: .7;
    outline: none;
}

ul .remove-button:hover{
    opacity: 1;
    cursor: pointer;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
}

.checkout>div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkout .coffee-count{
    margin-bottom: 1.5rem;
}

.checkout .coffees-count::before{
    content: 'Quantity: ';
    color: rgb(235, 17, 17);
}

.checkout .total-price::before{
    content: 'Price: ';
    color: rgb(224, 8, 8);
}


#x1{
    color: white;
    background: #e72929;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 3rem;
}
#x1:hover{
    opacity: .5;
}




.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .card-popup {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: scale(0.8); 
    animation: popupAnimation 0.5s ease forwards;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
    color: green;
  }
  
  
  @keyframes popupAnimation {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  

  