<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!coffees || coffees.length <= 0" resetLinkText="Reset"
  >Search</app-not-found
>

<ul>
  <li *ngFor="let coffee of coffees">
    <a routerLink="/coffee/{{ coffee.id }}">
      <img class="img-coffee" src="{{ coffee.imageUrl }}" alt="" />
      <div class="content">
        <div class="name">
          {{ coffee.name }}
        </div>
        <span class="favorite {{ coffee.favourite ? '' : 'not' }}"> ❤ </span>

        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of coffee.origins">
              {{ origin }}
            </span>
          </div>
          <div class="cook-time">
            <span>🕒</span>
            {{ coffee.cookTime }}
          </div>
        </div>
        <div class="price">
          <span>
            {{ coffee.price | currency }}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
